{
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "printWidth": 80,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^next",
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/libs(.*)$",
    "^@/api(.*)$",
    "^@/providers(.*)$",
    "^@/components(.*)$",
    "^@/hooks(.*)$",
    "^@/utils(.*)$",
    "^@/schemas(.*)$",
    "^@/constants(.*)$",
    "^@/types(.*)$",
    "^../(.*)$",
    "^./(.*)$"
  ],
  "importOrderSortSpecifiers": true
}
